{% extends "base.html" %}
{% load static %}

{% block content %}
        <!-- End Responsive Navbar Area -->

        <!-- Start Pages Banner Area -->
        <div class="pages-banner-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="pages-title">
                            <h2>Blog Details</h2>
                            <ul class="list-unstyled ps-0 mb-0">
                                <li class="d-inline-block">
                                    <a class="text-decoration-none" href="{% url 'index' %}">
                                        Home
                                    </a>
                                </li>
                                <li class="d-inline-block">
                                    Blog Details
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="pages-image">
                            <img src="{% static 'assets/img/pages/pages-2.jpg' %}" alt="pages-image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape-7">
                <img src="{% static 'assets/img/shape/shape-7.png' %}" alt="shape">
            </div>
        </div>
        <!-- End Pages Banner Area -->

        <!-- Start Blog Pages Area -->
        <div class="blog-pages-area pt-100 pb-75">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog-left-sidebar">
                            <div class="single-blog-card">
                                <div class="content">
                                    <ul class="list-unstyled ps-0 mb-0">
                                        <li class="d-inline-block">
                                            {{ category_name.date|date:"F d, Y" }}
                                            <i class="ri-calendar-line"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="leading-management">
                                {% if category_name %}
                                    <h1>{{ category_name.blog_heading }}</h1>
                                {% endif %}
                                {% for details in blog_details %}
                                    <p style="text-align: justify;">{{ details.blog_description | safe }}</p>
                                {% endfor %}
                            </div>
                            <div class="applications-info">
                                {% for details in blog_details %}
                                    <div class="image">
                                        <img src="{{ details.blog_image.url }}" alt="applications-image">
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="pages-share-and-tags">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="share">
                                            <ul class="list-unstyled ps-0 mb-0 d-flex align-items-center">
                                                <li class="d-inline-block">Share:</li>
                                                <li class="d-inline-block">
                                                    <a class="text-decoration-none" href="https://www.facebook.com/" target="_blank">
                                                        <i class="flaticon-facebook-app-symbol"></i>
                                                    </a>
                                                </li>
                                                <li class="d-inline-block">
                                                    <a class="text-decoration-none" href="https://www.pinterest.com/" target="_blank">
                                                        <i class="flaticon-pinterest"></i>
                                                    </a>
                                                </li>
                                                <li class="d-inline-block">
                                                    <a class="text-decoration-none" href="https://www.instagram.com/" target="_blank">
                                                        <i class="flaticon-instagram"></i>
                                                    </a>
                                                </li>
                                                <li class="d-inline-block">
                                                    <a class="text-decoration-none" href="https://twitter.com/" target="_blank">
                                                        <i class="flaticon-twitter"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="tags text-end">
                                            <ul class="list-unstyled ps-0 mb-0">
                                                <li class="d-inline-block">Tags:</li>
                                                <li class="d-inline-block">
                                                    <a class="text-decoration-none" href="">Business</a>
                                                </li>
                                                <li class="d-inline-block">
                                                    <a class="text-decoration-none" href="">Graduates</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4">
                        <div class="blog-right-sidebar">
                            <div class="single-pages-widget form">
                                <h3>Search</h3>
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search"> 
                                        <button type="submit"><i class="ri-search-line"></i></button>
                                    </div>
                                </form>
                            </div>
                            <div class="single-pages-widget latest">
                                <h3>Latest News</h3>
                                <div class="latest-card d-flex align-items-center">
                                    <div class="image">
                                        <a href="">
                                            <img src="{% static 'assets/img/pages/pages-12.jpg' %}" alt="latest-image">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h3>
                                            <a class="text-decoration-none" href="">
                                                Professor Albert joint research on mobile money in Tanzania
                                            </a>
                                        </h3>
                                        <p class="d-flex align-items-center">
                                            <i class="ri-calendar-line"></i>
                                            October 08, 2024
                                        </p>
                                    </div>
                                </div>
                                <div class="latest-card d-flex align-items-center">
                                    <div class="image">
                                        <a href="">
                                            <img src="{% static 'assets/img/pages/pages-13.jpg' %}" alt="latest-image">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h3>
                                            <a class="text-decoration-none" href="">
                                                A wonderful serenity has taken possession of my entire soul
                                            </a>
                                        </h3>
                                        <p class="d-flex align-items-center">
                                            <i class="ri-calendar-line"></i>
                                            October 08, 2024
                                        </p>
                                    </div>
                                </div>
                                <div class="latest-card d-flex align-items-center">
                                    <div class="image">
                                        <a href="">
                                            <img src="{% static 'assets/img/pages/pages-14.jpg' %}" alt="latest-image">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h3>
                                            <a class="text-decoration-none" href="">
                                                The Florida Project: Taking Action to Help Kids Like Moonee
                                            </a>
                                        </h3>
                                        <p class="d-flex align-items-center">
                                            <i class="ri-calendar-line"></i>
                                            October 08, 2024
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="single-pages-widget categories">
                                <h3>Categories</h3>
                                <a class="d-flex align-items-center justify-content-between text-decoration-none" href="">
                                    Education
                                    <span>(07)</span>
                                </a>
                                <a class="d-flex align-items-center justify-content-between text-decoration-none" href="">
                                    Learning
                                    <span>(02)</span>
                                </a>
                                <a class="d-flex align-items-center justify-content-between text-decoration-none" href="">
                                    University
                                    <span>(04)</span>
                                </a>
                                <a class="d-flex align-items-center justify-content-between text-decoration-none" href="">
                                    Online Education
                                    <span>(06)</span>
                                </a>
                                <a class="d-flex align-items-center justify-content-between text-decoration-none" href="">
                                    Graduates
                                    <span>(02)</span>
                                </a>
                            </div>
                            
                            <div class="single-pages-widget tags style-2">
                                <h3>Popular Tag’s</h3>
                                <ul class="list-unstyled ps-0 mb-0">
                                    <li class="d-inline-block">
                                        <a class="text-decoration-none d-inline-block" href="">
                                            Education
                                        </a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-decoration-none d-inline-block" href="">
                                            University
                                        </a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-decoration-none d-inline-block" href="">
                                            Online
                                        </a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-decoration-none d-inline-block" href="">
                                            Graduates
                                        </a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-decoration-none d-inline-block" href="">
                                            Programs
                                        </a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-decoration-none d-inline-block" href="">
                                            Sports
                                        </a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-decoration-none d-inline-block" href="">
                                            Admission
                                        </a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-decoration-none d-inline-block" href="">
                                            Academics
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Blog Pages Area -->

        
        <style>
            table {
                width: 100%;
                border-collapse: collapse;
            }
            table, th, td {
                border: 1px solid black;
            }
            th, td {
                padding: 8px;
                text-align: left;
            }
            .table-responsive {
                overflow-x: auto;
            }
          
            @media (max-width: 575.98px) {
                .table-responsive {
                    overflow-x: auto;
                }
                .card-body td:nth-child(2) {
                    max-width: 150px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            /* Other media queries here */
          </style>
    {% endblock %}   
    