{% extends "base.html" %}
{% load static %}

{% block content %}
        <!-- Start Pages Banner Area -->
        <div class="pages-banner-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="pages-title">
                            <h2>Details</h2>
                            <ul class="list-unstyled ps-0 mb-0">
                                <li class="d-inline-block">
                                    <a class="text-decoration-none" href="{% url 'index' %}">
                                        Home
                                    </a>
                                </li>
                                <li class="d-inline-block">
                                    Details
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="pages-image">
                            <img src="{% static 'assets/img/pages/pages-2.jpg' %}" alt="pages-image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape-7">
                <img src="{% static 'assets/img/shape/shape-7.png' %}" alt="shape">
            </div>
        </div>
        <!-- End Pages Banner Area -->

        <!-- Start Blog Pages Area -->
        <div class="blog-pages-area pt-100 pb-75">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog-left-sidebar">
                            <div class="single-blog-card">
                                <div class="content">
                                    <!-- <ul class="list-unstyled ps-0 mb-0">
                                        <li class="d-inline-block">
                                            October 08, 2024
                                            <i class="ri-calendar-line"></i>
                                        </li>
                                        <li class="d-inline-block">
                                            <a class="text-decoration-none" href="author.html">Jesonal Jeck</a>
                                            <i class="ri-user-line"></i>
                                        </li>
                                        <li class="d-inline-block">
                                            12 Mins Read
                                            <i class="ri-book-3-line"></i>
                                        </li>
                                        <li class="d-inline-block">
                                            02 Comments
                                            <i class="ri-message-line"></i>
                                        </li>
                                    </ul> -->
                                </div>
                            </div>
                            

                            {% for detail in data %}
                            <div class="leading-management">
                                
                                <h1>sbnadshfsbhfdawq</h1>
                                <div class="image">
                                    <img src="{% static 'assets/img/pages/pages-23.jpg' %}" alt="applications-image">
                                </div>
                                <br>
                                
                                <p>{{ detail.details | safe }}</p>
                            </div>
                            {% endfor %}

                            {% for detail in data %}
                            <div class="applications-info">
                                <!-- <h3>Applications are like the lifeblood of mobile phones and tablets today!!!</h3> -->
                                <p>{{ detail.more_details | safe }}</p>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="applications-card d-flex align-items-center">
                                            <i class="ri-check-line"></i>
                                            <p>Far far away, behind the word mountain</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="applications-card d-flex align-items-center">
                                            <i class="ri-check-line"></i>
                                            <p>When she reached the first hills</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="applications-card d-flex align-items-center">
                                            <i class="ri-check-line"></i>
                                            <p>A small river named Duden flows</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="applications-card d-flex align-items-center">
                                            <i class="ri-check-line"></i>
                                            <p>A small river named Duden flows by their plat</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <h3>When, while the lovely valley teems with</h3>
                                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc eleifend, augue vitae dictum accumsan, ligula est interdum dui, eu interdum nisi ex et erat. Sed vel ullamcorper magna. Etiam in laoreet massa. Donec sed commodo orci.</p>
                            </div>
                            {% endfor %}
                            <blockquote>
                                <i class="flaticon-quote"></i>
                                <p>“Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc eleifend, augue vitae dictum accumsan, ligula est interdum dui, eu interdum nisi ex et erat”.</p>
                            </blockquote>
                            <p>I sink under the weight of the splendour of these visions!A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquis</p>
                            <p>I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees.</p>
                            <div class="pages-share-and-tags">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="share">
                                            <ul class="list-unstyled ps-0 mb-0 d-flex align-items-center">
                                                <li class="d-inline-block">Share:</li>
                                                <li class="d-inline-block">
                                                    <a class="text-decoration-none" href="https://www.facebook.com/" target="_blank">
                                                        <i class="flaticon-facebook-app-symbol"></i>
                                                    </a>
                                                </li>
                                                <li class="d-inline-block">
                                                    <a class="text-decoration-none" href="https://www.pinterest.com/" target="_blank">
                                                        <i class="flaticon-pinterest"></i>
                                                    </a>
                                                </li>
                                                <li class="d-inline-block">
                                                    <a class="text-decoration-none" href="https://www.instagram.com/" target="_blank">
                                                        <i class="flaticon-instagram"></i>
                                                    </a>
                                                </li>
                                                <li class="d-inline-block">
                                                    <a class="text-decoration-none" href="https://twitter.com/" target="_blank">
                                                        <i class="flaticon-twitter"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>  
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="tags text-end">
                                            <ul class="list-unstyled ps-0 mb-0">
                                                <li class="d-inline-block">Tags:</li>
                                                <li class="d-inline-block">
                                                    <a class="text-decoration-none" href="tag.html">Business</a>
                                                </li>
                                                <li class="d-inline-block">
                                                    <a class="text-decoration-none" href="tag.html">Graduates</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="pages-leave-reply">
                                <h1>Leave A Reply</h1>
                                <form>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Your name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Your email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control textarea" placeholder="Your comments..."></textarea>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Save my name, email, and website in this browser for the next time I comment.
                                        </label>
                                    </div>
                                    <button type="submit">
                                        Post A Comment
                                        <i class="flaticon-right-arrow"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog-right-sidebar">
                            <div class="single-pages-widget form">
                                <h3>Search</h3>
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search"> 
                                        <button type="submit"><i class="ri-search-line"></i></button>
                                    </div>
                                </form>
                            </div>
                            <div class="single-pages-widget latest">
                                <h3>Latest News</h3>
                                <div class="latest-card d-flex align-items-center">
                                    <div class="image">
                                        <a href="blog-details.html">
                                            <img src="{% static 'assets/img/pages/pages-12.jpg' %}" alt="latest-image">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h3>
                                            <a class="text-decoration-none" href="blog-details.html">
                                                Professor Albert joint research on mobile money in Tanzania
                                            </a>
                                        </h3>
                                        <p class="d-flex align-items-center">
                                            <i class="ri-calendar-line"></i>
                                            October 08, 2024
                                        </p>
                                    </div>
                                </div>
                                <div class="latest-card d-flex align-items-center">
                                    <div class="image">
                                        <a href="blog-details.html">
                                            <img src="{% static 'assets/img/pages/pages-13.jpg' %}" alt="latest-image">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h3>
                                            <a class="text-decoration-none" href="blog-details.html">
                                                A wonderful serenity has taken possession of my entire soul
                                            </a>
                                        </h3>
                                        <p class="d-flex align-items-center">
                                            <i class="ri-calendar-line"></i>
                                            October 08, 2024
                                        </p>
                                    </div>
                                </div>
                                <div class="latest-card d-flex align-items-center">
                                    <div class="image">
                                        <a href="blog-details.html">
                                            <img src="{% static 'assets/img/pages/pages-14.jpg' %}" alt="latest-image">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h3>
                                            <a class="text-decoration-none" href="blog-details.html">
                                                The Florida Project: Taking Action to Help Kids Like Moonee
                                            </a>
                                        </h3>
                                        <p class="d-flex align-items-center">
                                            <i class="ri-calendar-line"></i>
                                            October 08, 2024
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="single-pages-widget categories">
                                <h3>Categories</h3>
                                <a class="d-flex align-items-center justify-content-between text-decoration-none" href="categorie.html">
                                    Education
                                    <span>(07)</span>
                                </a>
                                <a class="d-flex align-items-center justify-content-between text-decoration-none" href="categorie.html">
                                    Learning
                                    <span>(02)</span>
                                </a>
                                <a class="d-flex align-items-center justify-content-between text-decoration-none" href="categorie.html">
                                    University
                                    <span>(04)</span>
                                </a>
                                <a class="d-flex align-items-center justify-content-between text-decoration-none" href="categorie.html">
                                    Online Education
                                    <span>(06)</span>
                                </a>
                                <a class="d-flex align-items-center justify-content-between text-decoration-none" href="categorie.html">
                                    Graduates
                                    <span>(02)</span>
                                </a>
                            </div>
                            <div class="single-pages-widget gallery">
                                <h3>Student’s Gallery</h3>
                                <ul class="list-unstyled ps-0 mb-0">
                                    <li class="d-inline-block">
                                        <a class="text-decoration-none" href="#">
                                            <img src="{% static 'assets/img/pages/pages-15.jpg' %}" alt="gallery-image">
                                        </a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-decoration-none" href="#">
                                            <img src="{% static 'assets/img/pages/pages-16.jpg' %}" alt="gallery-image">
                                        </a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-decoration-none" href="#">
                                            <img src="{% static 'assets/img/pages/pages-17.jpg' %}" alt="gallery-image">
                                        </a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-decoration-none" href="#">
                                            <img src="{% static 'assets/img/pages/pages-18.jpg' %}" alt="gallery-image">
                                        </a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-decoration-none" href="#">
                                            <img src="{% static 'assets/img/pages/pages-19.jpg' %}" alt="gallery-image">
                                        </a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-decoration-none" href="#">
                                            <img src="{% static 'assets/img/pages/pages-20.jpg' %}" alt="gallery-image">
                                        </a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-decoration-none" href="#">
                                            <img src="{% static 'assets/img/pages/pages-21.jpg' %}" alt="gallery-image">
                                        </a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-decoration-none" href="#">
                                            <img src="{% static 'assets/img/pages/pages-22.jpg' %}" alt="gallery-image">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="single-pages-widget tags style-2">
                                <h3>Popular Tag’s</h3>
                                <ul class="list-unstyled ps-0 mb-0">
                                    <li class="d-inline-block">
                                        <a class="text-decoration-none d-inline-block" href="tag.html">
                                            Education
                                        </a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-decoration-none d-inline-block" href="tag.html">
                                            University
                                        </a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-decoration-none d-inline-block" href="tag.html">
                                            Online
                                        </a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-decoration-none d-inline-block" href="tag.html">
                                            Graduates
                                        </a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-decoration-none d-inline-block" href="tag.html">
                                            Programs
                                        </a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-decoration-none d-inline-block" href="tag.html">
                                            Sports
                                        </a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-decoration-none d-inline-block" href="tag.html">
                                            Admission
                                        </a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-decoration-none d-inline-block" href="tag.html">
                                            Academics
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Blog Pages Area -->

        <!-- Start Newsletter Area -->
        <div class="newsletter-area pb-75">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="newsletter-content">
                            <div class="title">
                                <h2>Are You Ready To Build Up Your Career </h2>
                                <p>We are proud of our alumni network, which spans across industries and continents. Our graduates are equipped with the skills, values knowledge, anda  to excel in their chosen fields and make positive impact on society.</p>
                            </div>
                            <ul class="list-unstyled ps-0 mb-0 subscribe-btn">
                                <li class="d-inline-block">
                                    <a class="text-decoration-none default-btn" href="application.html">
                                        Application Form
                                        <i class="flaticon-right-arrow"></i>
                                    </a>
                                </li>
                                <li class="d-inline-block">
                                    <a class="text-decoration-none arrow-btn" href="apply.html">
                                        How To Apply
                                        <i class="flaticon-right-arrow"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="newsletter-form">
                            <div class="title">
                                <h3>Subscribe To Our Newsletter</h3>
                                <p>Stay informed about the latest developments, breakthroughs, and trends in our industry. Our team of experts scours the web to bring you the most relevant and engaging news articles.</p>
                            </div>
                            <form>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your email">
                                </div>
                                <button type="submit" class="text-decoration-none border-0 default-btn">
                                    Subscribe Now
                                    <i class="flaticon-right-arrow"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Newsletter Area -->

        <style>
            table {
                width: 100%;
                border-collapse: collapse;
            }
            table, th, td {
                border: 1px solid black;
            }
            th, td {
                padding: 8px;
                text-align: left;
            }
            .table-responsive {
                overflow-x: auto;
            }
          
            @media (max-width: 575.98px) {
                .table-responsive {
                    overflow-x: auto;
                }
                .card-body td:nth-child(2) {
                    max-width: 150px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            /* Other media queries here */
          </style>


{% endblock %}