{% extends "base.html" %}
{% load static %}

{% block content %}
        <!-- End Responsive Navbar Area -->

        <!-- Start Pages Banner Area -->
        <div class="pages-banner-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="pages-title">
                            <h2>Program Details</h2>
                            <ul class="list-unstyled ps-0 mb-0">
                                <li class="d-inline-block">
                                    <a class="text-decoration-none" href="{% url 'index' %}">
                                        Home
                                    </a>
                                </li>
                                <li class="d-inline-block">
                                    Program Details
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="pages-image">
                            <img src="{% static 'assets/img/pages/pages-7.jpg' %}" alt="pages-image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape-7">
                <img src="{% static 'assets/img/shape/shape-7.png' %}" alt="shape">
            </div>
        </div>
        <!-- End Pages Banner Area -->

        <!-- Start Program Area -->
        <div class="program-area pt-100 pb-75">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="program-details-left-sidebar">
                            <div class="reviews-image">
                                <img src="{% static 'assets/img/pages/pages-31.jpg' %}" alt="reviews-image">
                                <div class="reviews-info">
                                    <ul class="list-unstyled ps-0 mb-0 d-flex align-items-center">
                                        <li class="d-inline-block">
                                            <div class="user d-flex align-items-center">
                                                <div class="image">
                                                    <img src="{% static 'assets/img/testimonial/testimonial-5.jpg' %}" alt="">
                                                </div>
                                                <div class="content">
                                                    <h3>John Smith</h3>
                                                    <p>Instructor</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="d-inline-block">
                                            <h3>(02) Reviews</h3>
                                            <ul class="list-unstyled ps-0 mb-0 d-flex align-items-center star-icon">
                                                <li class="d-inline-block"><i class="flaticon-star-1"></i></li>
                                                <li class="d-inline-block"><i class="flaticon-star-1"></i></li>
                                                <li class="d-inline-block"><i class="flaticon-star-1"></i></li>
                                                <li class="d-inline-block"><i class="flaticon-star-1"></i></li>
                                                <li class="d-inline-block"><i class="flaticon-star-1"></i></li>
                                            </ul>
                                        </li>
                                        <li class="d-inline-block">
                                            <h3>Categories</h3>
                                            <p>Management</p>
                                        </li>
                                        <li class="d-inline-block">
                                            <h3>Duration</h3>
                                            <p>02 Years</p>
                                        </li>
                                        <li class="d-inline-block">
                                            <h3>Language</h3>
                                            <p>English</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="biochemistry">
                                <h1>Biochemistry</h1>
                                <p>Biochemistry is the branch of science that deals with the study of the chemical processes and substances that occur within living organisms. It combines the principles and techniques of biology and chemistry to understand the molecular mechanisms underlying various biological functions and processes.</p>
                                <p>Biochemists investigate the structure, function, and interactions of biological molecules such as proteins, carbohydrates, lipids, and nucleic acids. They study how these molecules are synthesized, modified, and degraded within cells, as well as the chemical reactions and pathways that govern these processes.</p>
                                <div class="list-info">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6">
                                            <div class="applications-card d-flex align-items-center">
                                                <i class="ri-check-line"></i>
                                                <p>Biochemistry is the branch</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="applications-card d-flex align-items-center">
                                                <i class="ri-check-line"></i>
                                                <p>Enzymes and metabolism</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="applications-card d-flex align-items-center">
                                                <i class="ri-check-line"></i>
                                                <p>Nucleic acids and genetics</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="applications-card d-flex align-items-center">
                                                <i class="ri-check-line"></i>
                                                <p>Carbohydrates and lipids</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="applications-card d-flex align-items-center">
                                                <i class="ri-check-line"></i>
                                                <p>Signal transduction</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="applications-card d-flex align-items-center">
                                                <i class="ri-check-line"></i>
                                                <p>They study these molecules</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="program-card">
                                    <h3>Program Overview</h3>
                                    <p>Nowadays, technology has become super advanced. Even normal people are getting themselves enrolled in coding and programming and creating applications on their own. An app developer earns a hefty amount as well, and this, if seen from a business point of view.</p>
                                </div>
                                <div class="program-card">
                                    <h3>Program Learning Outcomes</h3>
                                    <p>Demonstrate an understanding of how communication shapes patterns of social interaction, the expression of cultural values and norms, political practices and relations of power, and our positions as local and global citizens.</p>
                                </div>
                                <div class="program-card">
                                    <h3>Career Opportunities</h3>
                                    <p>Our graduates work and intern in a range of jobs in a broad range of fields — public relations, marketing, advertising, social media, television, radio, magazines, human resources, event planning, education, nonprofits, and technology. We’ve also had graduates start their</p>
                                </div>
                            </div>
                            <div class="pages-comment-area">
                                <h1>Reviews <span>(02)</span></h1>
                                <div class="comment-card">
                                    <div class="users d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="image">
                                                <img src="{% static 'assets/img/pages/pages-24.jpg' %}" alt="user-image">
                                            </div>
                                            <div class="content">
                                                <h3>Samuel Cambel</h3>
                                                <p>12 Days ago</p>
                                            </div>
                                        </div>
                                        <div class="reply">
                                            <ul class="list-unstyled ps-0 mb-0 d-flex align-items-center star-icon">
                                                <li class="d-inline-block"><i class="flaticon-star-1"></i></li>
                                                <li class="d-inline-block"><i class="flaticon-star-1"></i></li>
                                                <li class="d-inline-block"><i class="flaticon-star-1"></i></li>
                                                <li class="d-inline-block"><i class="flaticon-star-1"></i></li>
                                                <li class="d-inline-block"><i class="flaticon-star-1"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p>Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their projects again and again.</p>
                                </div>
                                <div class="comment-card">
                                    <div class="users d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="image">
                                                <img src="{% static 'assets/img/pages/pages-26.jpg' %}" alt="user-image">
                                            </div>
                                            <div class="content">
                                                <h3>Wiilam Cambel</h3>
                                                <p>06 Days ago</p>
                                            </div>
                                        </div>
                                        <div class="reply">
                                            <ul class="list-unstyled ps-0 mb-0 d-flex align-items-center star-icon">
                                                <li class="d-inline-block"><i class="flaticon-star-1"></i></li>
                                                <li class="d-inline-block"><i class="flaticon-star-1"></i></li>
                                                <li class="d-inline-block"><i class="flaticon-star-1"></i></li>
                                                <li class="d-inline-block"><i class="flaticon-star-1"></i></li>
                                                <li class="d-inline-block"><i class="flaticon-star-1"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p>Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their plate.</p>
                                </div>
                            </div>
                            <div class="pages-leave-reply style-2">
                                <h1>Add A Review</h1>
                                <div class="d-flex align-items-center star-icon">
                                    <span>Add Rating:</span>
                                    <ul class="list-unstyled ps-0 mb-0 d-flex align-items-center">
                                        <li><i class="ri-star-line"></i></li>
                                        <li><i class="ri-star-line"></i></li>
                                        <li><i class="ri-star-line"></i></li>
                                        <li><i class="ri-star-line"></i></li>
                                        <li><i class="ri-star-line"></i></li>
                                    </ul>
                                </div>
                                <form>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Your name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Your email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control textarea" placeholder="Your comments..."></textarea>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Save my name, email, and website in this browser for the next time I comment.
                                        </label>
                                    </div>
                                    <button type="submit">
                                        Post A Comment
                                        <i class="flaticon-right-arrow"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="program-details-right-sidebar">
                            <div class="single-program-widget department">
                                <h3>Department Contact Information</h3>
                                <ul class="list-unstyled ps-0 mb-0 list">
                                    <li class="d-inline-block">
                                        <a class="text-decoration-none d-flex align-items-center" href="tel:45993939990">
                                            <i class="flaticon-call"></i>
                                            +459 9393 9990
                                        </a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-decoration-none d-flex align-items-center" href="mailto:helloadma@gmail.com">
                                            <i class="ri-message-line"></i>
                                            helloadma@gmail.com
                                        </a>
                                    </li>
                                    <li class="d-inline-block">
                                        <a class="text-decoration-none d-flex align-items-center" href="mailto:adma@gmail.com">
                                            <i class="ri-message-line"></i>
                                            adma@gmail.com
                                        </a>
                                    </li>
                                    <li>
                                        <i class="ri-map-pin-line"></i>
                                        3001810 Campus Way IUTothell WA 98011-8246
                                    </li>
                                </ul>
                                <div class="share">
                                    <ul class="list-unstyled ps-0 mb-0 d-flex align-items-center">
                                        <li class="d-inline-block">Share:</li>
                                        <li class="d-inline-block">
                                            <a class="text-decoration-none" href="https://www.facebook.com/" target="_blank">
                                                <i class="flaticon-facebook-app-symbol"></i>
                                            </a>
                                        </li>
                                        <li class="d-inline-block">
                                            <a class="text-decoration-none" href="https://www.pinterest.com/" target="_blank">
                                                <i class="flaticon-pinterest"></i>
                                            </a>
                                        </li>
                                        <li class="d-inline-block">
                                            <a class="text-decoration-none" href="https://www.instagram.com/" target="_blank">
                                                <i class="flaticon-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="d-inline-block">
                                            <a class="text-decoration-none" href="https://twitter.com/" target="_blank">
                                                <i class="flaticon-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-program-widget programs">
                                <h3>More Programs</h3>
                                <div class="programs-card d-flex align-items-center">
                                    <div class="image">
                                        <a class="text-decoration-none" href="#"><img src="{% static 'assets/img/pages/pages-32.jpg' %}" alt="programs-image"></a>
                                    </div>
                                    <div class="content">
                                        <h6>
                                            <a class="text-decoration-none" href="#">Business Management</a>
                                        </h6>
                                        <ul class="list-unstyled ps-0 mb-0">
                                            <li>
                                                <i class="ri-calendar-line"></i>
                                                04 Years
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="programs-card d-flex align-items-center">
                                    <div class="image">
                                        <a class="text-decoration-none" href="#"><img src="{% static 'assets/img/pages/pages-33.jpg' %}" alt="programs-image"></a>
                                    </div>
                                    <div class="content">
                                        <h6>
                                            <a class="text-decoration-none" href="#">Accounting And Finance</a>
                                        </h6>
                                        <ul class="list-unstyled ps-0 mb-0">
                                            <li>
                                                <i class="ri-calendar-line"></i>
                                                03 Years
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="programs-card d-flex align-items-center">
                                    <div class="image">
                                        <a class="text-decoration-none" href="#"><img src="{% static 'assets/img/pages/pages-34.jpg' %}" alt="programs-image"></a>
                                    </div>
                                    <div class="content">
                                        <h6>
                                            <a class="text-decoration-none" href="#">Business & Finance</a>
                                        </h6>
                                        <ul class="list-unstyled ps-0 mb-0">
                                            <li>
                                                <i class="ri-calendar-line"></i>
                                                01 Years
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="programs-card d-flex align-items-center">
                                    <div class="image">
                                        <a class="text-decoration-none" href="#"><img src="{% static 'assets/img/pages/pages-35.jpg' %}" alt="programs-image"></a>
                                    </div>
                                    <div class="content">
                                        <h6>
                                            <a class="text-decoration-none" href="#">Online Management</a>
                                        </h6>
                                        <ul class="list-unstyled ps-0 mb-0">
                                            <li>
                                                <i class="ri-calendar-line"></i>
                                                07 Years
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-program-widget register">
                                <h3>Register Now</h3>
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your name">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Your email">
                                    </div>
                                    <button class="default-btn">
                                        Register Now
                                        <i class="flaticon-right-arrow"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Program Area -->

        <!-- Start Newsletter Area -->
        <div class="newsletter-area pb-75">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="newsletter-content">
                            <div class="title">
                                <h2>Are You Ready To Build Up Your Career </h2>
                                <p>We are proud of our alumni network, which spans across industries and continents. Our graduates are equipped with the skills, values knowledge, anda  to excel in their chosen fields and make positive impact on society.</p>
                            </div>
                            <ul class="list-unstyled ps-0 mb-0 subscribe-btn">
                                <li class="d-inline-block">
                                    <a class="text-decoration-none default-btn" href="{% url 'application' %}">
                                        Application Form
                                        <i class="flaticon-right-arrow"></i>
                                    </a>
                                </li>
                                <li class="d-inline-block">
                                    <a class="text-decoration-none arrow-btn" href="{% url 'apply' %}">
                                        How To Apply
                                        <i class="flaticon-right-arrow"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="newsletter-form">
                            <div class="title">
                                <h3>Subscribe To Our Newsletter</h3>
                                <p>Stay informed about the latest developments, breakthroughs, and trends in our industry. Our team of experts scours the web to bring you the most relevant and engaging news articles.</p>
                            </div>
                            <form>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your email">
                                </div>
                                <button type="submit" class="text-decoration-none border-0 default-btn">
                                    Subscribe Now
                                    <i class="flaticon-right-arrow"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Newsletter Area -->
    
        {% endblock %}