.exam-section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 1200px;
    text-align: center;
}

.exam-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.exam-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.exam-button {
    background-color: transparent;
    border: 2px solid navy;
    color: navy;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s ease;
}

.exam-button:hover {
    background-color: navy;
    color: #fff;
}
