.card-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Smaller gap for smaller cards */
}

/* .card2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #0074a2; 
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px; 
    font-weight: bold;
    color: #0074a2;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 200px; 
    height: 60px; 
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    text-decoration: none; 
}

.card:hover {
    transform: translateY(-5px);
}

@media (max-width: 768px) {
    .card {
        width: 180px; 
        height: 50px; 
        font-size: 12px; 
    }
}

@media (max-width: 480px) {
    .card2 {
        width: 160px; 
        height: 40px; 
        font-size: 10px; 
    }
} */