{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>BSI</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'admin_static/assets/vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'admin_static/assets/vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'admin_static/assets/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'admin_static/assets/vendors/typicons/typicons.css' %}">
  <link rel="stylesheet" href="{% static 'admin_static/assets/vendors/simple-line-icons/css/simple-line-icons.css' %}">
  <link rel="stylesheet" href="{% static 'admin_static/assets/vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'admin_static/assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'admin_static/assets/js/select.dataTables.min.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'admin_static/assets/css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'assets/img/BSI_LOGO.png' %}">

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">


  <style>
    * {
    margin:0px;
  }
  .load {
    width:100%;
    height:100vh;
    background-color: #fff;
      display: flex;
      margin-top: -30px;
      justify-content: center;
      align-items: center;
  }
  .load div {
      width: 25px;
      height: 25px;
      background-color: #0232a0;
      margin-left: 5px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      margin-top: calc(50px - 12.5px);
      animation-name: loading;
      animation-duration: 1.2s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
  }
  .load-two {
      animation-delay: 0.4s;
  }
  .load-three {
      animation-delay: 0.8s;
  }
  @keyframes loading {
      to {
          opacity: 0.3;
          transform: translateY(-25px);
          -webkit-transform: translateY(-25px);
          -moz-transform: translateY(-25px);
          -ms-transform: translateY(-25px);
          -o-transform: translateY(-25px);
  }

  }

  </style>
</head>

<body class="with-welcome-text">
  <div class="load">
    <div class="load-one"></div>
    <div class="load-two"></div>
    <div class="load-three"></div>
  </div>
  <div id="loading" style="display: none;">
  

    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
    <div class="me-3">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
        <span class="icon-menu"></span>
      </button>
    </div>
    <div>
      <a class="navbar-brand brand-logo" href="{% url 'admin_dashboard' %}">
        <img src="{% static 'assets/img/BSI_LOGO.png' %}" alt="logo" />
      </a>
      <a class="navbar-brand brand-logo-mini" href="{% url 'admin_dashboard' %}">
        <img src="{% static 'assets/img/BSI_LOGO.png' %}" alt="logo" />
      </a>
    </div>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-top">
    <ul class="navbar-nav">
      <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
        <h1 class="welcome-text">Welcome To  <span class="text-black fw-bold">BSI Admin Dashboard</span></h1>
        <!-- <h3 class="welcome-sub-text">Your performance summary this week </h3> -->
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      
      <li class="nav-item dropdown d-none d-lg-block user-dropdown">
        <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
          <img class="img-xs rounded-circle" src="{% static 'assets/img/BSI_LOGO.png' %}" alt="Profile image"> </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
          <div class="dropdown-header text-center">
            <img class="img-md rounded-circle" src="{% static 'assets/img/BSI_LOGO.png' %}" alt="Profile image">
            <p class="mb-1 mt-3 font-weight-semibold">Badger skills international </p>
            <p class="fw-light text-muted mb-0">abc@gmail.com</p>
          </div>
          
          <a class="dropdown-item" href="logout_user"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>
        </div>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
      data-bs-toggle="offcanvas">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
  <div id="settings-trigger"><i class="ti-settings"></i></div>
  <div id="theme-settings" class="settings-panel">
    <i class="settings-close ti-close"></i>
    <p class="settings-heading">SIDEBAR SKINS</p>
    <div class="sidebar-bg-options selected" id="sidebar-light-theme">
      <div class="img-ss rounded-circle bg-light border me-3"></div>Light
    </div>
    <div class="sidebar-bg-options" id="sidebar-dark-theme">
      <div class="img-ss rounded-circle bg-dark border me-3"></div>Dark
    </div>
    <p class="settings-heading mt-2">HEADER SKINS</p>
    <div class="color-tiles mx-0 px-4">
      <div class="tiles success"></div>
      <div class="tiles warning"></div>
      <div class="tiles danger"></div>
      <div class="tiles info"></div>
      <div class="tiles dark"></div>
      <div class="tiles default"></div>
    </div>
  </div>
</div>

      
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">

    <li class="nav-item nav-category">Header Headings</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#collection" aria-expanded="false" aria-controls="client">
        <i class="menu-icon mdi mdi-view-headline"></i>
        <span class="menu-title">Header Headings</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="collection">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'create_header_main' %}"> Main Heading</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'view_header_main' %}"> View Heading</a></li>

          <li class="nav-item"> <a class="nav-link" href="{% url 'create_sub_header' %}"> Sub Header</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'view_sub_header' %}">View Sub Header</a></li>

          <li class="nav-item"> <a class="nav-link" href="{% url 'create_sub_header_heading' %}">Final Header</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'view_sub_header_heading' %}">View Final Header</a></li>
         
        </ul>
      </div>
    </li>

    <li class="nav-item nav-category">Header Details</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#details" aria-expanded="false" aria-controls="client">
        <i class="menu-icon mdi mdi-clipboard-text"></i>
        <span class="menu-title">Header Details</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="details">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'add_header_details' %}"> Add  Details </a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'view_header_details' %}"> View  Details </a></li>
        </ul>
      </div>
    </li>

    
    <li class="nav-item nav-category">Blog</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#blog" aria-expanded="false" aria-controls="blog">
        <i class="menu-icon mdi mdi-card-text-outline"></i>
        <span class="menu-title">Blog</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="blog">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'add_blog_category' %}"> Add Blog Category</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'view_blog_category' %}"> View Blog Category</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'add_blog_details' %}"> Add Blog Details</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'view_blog_details' %}"> View Blog Details</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item nav-category">Student Review</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#review" aria-expanded="false" aria-controls="blog">
        <i class="menu-icon mdi mdi-card-text-outline"></i>
        <span class="menu-title">Student Review</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="review">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'add_client_reviews' %}"> Add Student Review</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'view_client_reviews' %}"> View Student Review</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item nav-category">College States</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#state" aria-expanded="false" aria-controls="college">
        <i class="menu-icon mdi mdi-home-modern"></i>
        <span class="menu-title">College States</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="state">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'add_state_category' %}"> Add States</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'view_state_category' %}"> View State</a></li>
         
        </ul>
      </div>
    </li>

    <li class="nav-item nav-category">Colleges</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#college" aria-expanded="false" aria-controls="college">
        <i class="menu-icon mdi mdi-home-modern"></i>
        <span class="menu-title">Colleges</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="college">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'create_college' %}"> Add Colleges</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'view_college' %}"> View Colleges</a></li>
         
        </ul>
      </div>
    </li>

    <li class="nav-item nav-category">Featured Colleges</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#featured" aria-expanded="false" aria-controls="college">
        <i class="menu-icon mdi mdi-link-variant"></i>
        <span class="menu-title">Featured Colleges</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="featured">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'create_featured_colleges' %}"> Add Featured Colleges</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'view_featured_colleges' %}"> View Featured Colleges</a></li>
         
        </ul>
      </div>
    </li>


    <li class="nav-item nav-category">Courses</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#course" aria-expanded="false" aria-controls="client">
        <i class="menu-icon mdi mdi-book-open-variant"></i>
        <span class="menu-title">Courses</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="course">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'create_course' %}"> Add Course </a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'view_course' %}"> View Course </a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item nav-category">Add On Courses</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#addOn" aria-expanded="false" aria-controls="client">
        <i class="menu-icon mdi mdi-checkbox-marked-outline"></i>
        <span class="menu-title">Add On Courses</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="addOn">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'create_add_on_course' %}"> Add Course </a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'view_add_on_course' %}"> View Course </a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item nav-category">Slider Image</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#Slider" aria-expanded="false" aria-controls="client">
        <i class="menu-icon mdi mdi-folder-image"></i>
        <span class="menu-title">Slider Image</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="Slider">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'create_slider' %}"> Add Slider Image </a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'view_slider' %}"> View Slider Image </a></li>
        </ul>
      </div>
    </li>
    

    <li class="nav-item nav-category">Exam Details</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#examDetails" aria-expanded="false" aria-controls="client">
        <i class="menu-icon mdi mdi-box-cutter"></i>
        <span class="menu-title">Exam Details</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="examDetails">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'create_exam' %}"> Add Exams </a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'view_exam' %}"> View Exams </a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'create_exam_details' %}"> Add Exam Details</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'view_exam_details' %}"> View Exam Details</a></li>
        </ul>
      </div>
    </li>


    
    <li class="nav-item nav-category">About Video</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#About" aria-expanded="false" aria-controls="contact">
        <i class="menu-icon mdi mdi-message-video"></i>

        <span class="menu-title">About Video</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="About">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'create_about_video' %}">Add About Video</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'view_about_video' %}">View About Video</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item nav-category">Notification</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#Notification" aria-expanded="false" aria-controls="contact">
        <i class="menu-icon mdi mdi-bell-outline"></i>

        <span class="menu-title">Notification</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="Notification">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'add_notification' %}">Add Notification</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'notification_list' %}">View Notification</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item nav-category">News Letter</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#news" aria-expanded="false" aria-controls="contact">
        <i class="menu-icon mdi mdi-email-outline"></i>

        <span class="menu-title">News Letter</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="news">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'News_Letter_view' %}">News Letter</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item nav-category">Application Details</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#application" aria-expanded="false" aria-controls="contact">
        <i class="menu-icon mdi mdi-phone-in-talk"></i>

        <span class="menu-title">Application Details</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="application">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'Application_view' %}">Application Details</a></li>
        </ul>
      </div>
    </li>


    <li class="nav-item nav-category">Student Enquiry</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#student" aria-expanded="false" aria-controls="contact">
        <i class="menu-icon mdi mdi-phone-in-talk"></i>

        <span class="menu-title">Student Enquiry</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="student">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'enquiry_view' %}">Enquiry View</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item nav-category">Brochure History</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#brochure" aria-expanded="false" aria-controls="contact">
        <i class="menu-icon mdi mdi-download"></i>
        <span class="menu-title">Brochure Download History</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="brochure">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'enquiry_submition_view' %}">Brochure Download History</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item nav-category">Contact View</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#contact" aria-expanded="false" aria-controls="contact">
        <i class="menu-icon mdi mdi-comment-text-outline"></i>
        <span class="menu-title">Contact View</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="contact">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'contact_view' %}">Contact Views</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item nav-category">Chatbot Messages</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#chatbot" aria-expanded="false" aria-controls="chatbot">
        <i class="menu-icon mdi mdi-twitch"></i> 
        <span class="menu-title">Chatbot Messages</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="chatbot">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'chatbot_message_view' %}">Chatbot Messages</a></li>
         
        </ul>
      </div>
    </li>
   
    
  </ul>
    <!-- {{ redirect_to_login_immediatly }} -->
</nav>

{% block content%}
{% endblock %}
</div>
        <!-- plugins:js -->
      
  <!-- plugins:js -->
<script src="{% static 'admin_static/assets/vendors/js/vendor.bundle.base.js' %}"></script>
<script src="{% static 'admin_static/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
<script src="{% static 'admin_static/assets/vendors/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'admin_static/assets/vendors/progressbar.js/progressbar.min.js' %}"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
<script src="{% static 'admin_static/assets/js/off-canvas.js' %}"></script>
<script src="{% static 'admin_static/assets/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'admin_static/assets/js/template.js' %}"></script>
<script src="{% static 'admin_static/assets/js/settings.js' %}"></script>
<script src="{% static 'admin_static/assets/js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
<script src="{% static 'admin_static/assets/js/jquery.cookie.js' %}" type="text/javascript"></script>
<script src="{% static 'admin_static/assets/js/dashboard.js' %}"></script>
<script src="{% static 'admin_static/assets/js/proBanner.js' %}"></script>
<script src="{% static 'admin_static/assets/js/preload.js' %}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>

</html>