{% extends "admin_pages/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create Sub Course</h4>
                    <form class="forms-sample" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <label for="id_course_collection">Course Collection</label>
                            <select name="course" id="id_course_collection" class="form-control">
                                <option value="">Select Course Collection</option>
                                {% for course_collection in course_collections %}
                                    <option value="{{ course_collection.id }}">{{ course_collection }}</option>
                                {% endfor %}
                            </select>
                        </div>
                       
                        <div class="form-group">
                            <label for="id_course_type">Sub Content</label>
                            <select class="form-control" id="id_course_type" name="course_type">
                                {% for value, name in form.fields.course_type.choices %}
                                    <option value="{{ value }}" {% if value == form.fields.course_type.value %}selected{% endif %}>{{ name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#id_course_collection').change(function() {
            var collectionId = $(this).val();
            $.ajax({
                url: '{% url "load_courses" %}',
                data: {
                    'collection': collectionId
                },
                success: function(data) {
                    var options = '<option value="">Select Course</option>';
                    data.forEach(function(course) {
                        options += '<option value="' + course.id + '">' + course.course_name + '</option>';
                    });
                    $('#id_course').html(options);
                }
            });
        });
    });
</script>
{% endblock %}
