<!-- admin_pages/create_subcollection_category.html -->
{% extends "admin_pages/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create Sub Collection Category</h4>
                    <form class="forms-sample" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                    </form>
                    {% if form.errors %}
                        <div class="dropdown mt-3">
                            <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Form Errors
                            </button>
                            
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% for field, errors in form.errors.items %}
                                    <li class="dropdown-item"><strong>{{ field }}:</strong> {{ errors }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
