{% extends "admin_pages/base.html" %}
{% load static %}

{% block content %}
<style>
/* Responsive CSS styles for the table */
.table-responsive {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

img {
  width: 80px;
  height: 80px;
}
</style>

<div class="col-lg-10 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">View Colleges</h4>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Exam Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for exam in exams %}
            <tr>
              <td>{{ exam.exam_name }}</td>
              <td>
                <a href="{% url 'update_exam' exam.id %}" class="btn btn-primary btn-sm">
                  <i class="mdi mdi-cloud-upload" aria-hidden="true"></i> Update
                </a>
                <a href="{% url 'delete_exam' exam.id %}" class="btn btn-primary btn-sm">
                  <i class="mdi mdi-delete" aria-hidden="true"></i> Delete
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
