{% extends "base.html" %}
{% load static %}

{% block content %}
        <!-- End Responsive Navbar Area -->

        <!-- Start Pages Banner Area -->
        <div class="pages-banner-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="pages-title">
                            <h2>Application Form</h2>
                            <ul class="list-unstyled ps-0 mb-0">
                                <li class="d-inline-block">
                                    <a class="text-decoration-none" href="{% url 'index' %}">
                                        Home
                                    </a>
                                </li>
                                <li class="d-inline-block">
                                    Application Form
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="pages-image">
                            <img src="{% static 'assets/img/collage_bsi_colleges.png' %}" alt="pages-image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape-7">
                <img src="{% static 'assets/img/shape/shape-7.png' %}" alt="shape">
            </div>
        </div>
        <!-- End Pages Banner Area -->
        
        <!-- Start Application Area -->
        <div class="application-details-area ptb-100">
            <div class="container" >

                {% if messages %}
                <div class="alert alert-success" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
                <script>
                    setTimeout(function(){
                        window.location.reload();
                    }, 5000);
                </script>
                {% endif %}
                
                <form class="application-form-details" method="post">
                    {% csrf_token %}
                    <h3>Applicant Details</h3>
                   
                    
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label">First Name</label>
                                <input type="text" class="form-control" placeholder="First name here" name="first_name" required>
                            </div>
                        </div>
                        
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Last Name</label>
                                <input type="text" class="form-control" placeholder="Last name here" name="last_name" required>
                            </div>
                        </div>
                        
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Email address</label>
                                <input type="email" class="form-control" placeholder="Email address here" name="email" required>
                            </div>
                        </div>
                        
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Phone number</label>
                                <input type="text" class="form-control" placeholder="Phone number here" name="phone" required>
                            </div>
                        </div>
                        
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label">State name</label>
                                <input type="text" class="form-control" placeholder="State name here" name="state" required>
                            </div>
                        </div>
                        
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Zip code</label>
                                <input type="text" class="form-control" placeholder="Zip code here" name="pin_code" required>
                            </div>
                        </div>
                        
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Date of birth</label>
                                <input type="date" class="form-control" name="dob" required>
                            </div>
                        </div>
                        
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Student type</label>
                                <select class="form-select" aria-label="Select student type" name="student_type" required>
                                    <option value="" selected>Select student type</option>
                                    {% for key, value in application_form.fields.student_type.choices %}
                                        <option value="{{ key }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="m-30"></div>
                    
                    <h3>Education Details</h3>
                    
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Select area of study</label>
                                {% comment %} <select class="form-select" aria-label="Select area of study" name="course" required>
                                    <option value="" selected>Select area of study</option>
                                    {% for course in course %}
                                        <option value="{{ course.id }}">{{ course.course_name }}</option>
                                    {% endfor %}
                                </select> {% endcomment %}
                                <select class="form-select" aria-label="Select area of study" name="course" required>
                                    <option value="" selected>Select area of study</option>
                                    {% for course in course %}
                                        <option value="{{ course.id }}">{{ course.course_name }} - ({{ course.college.college_name }})</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Educational Qualification</label>
                                <input type="text" class="form-control" placeholder="qualification" name="degree" required>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="form-label">Additional information</label>
                        <textarea class="form-control" name="message" placeholder="Questions? Anything you’d like to know or ask..."></textarea>
                    </div>
                    
                    
                    
                    <button type="submit" class="default-btn border-0">
                        Submit Application
                        <i class="flaticon-right-arrow"></i>
                    </button>
                </form> 
            </div>
        </div> 
        <!-- End Application Area -->

        {% endblock %}   