{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css"/>

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+5hb7S5DO5E5r9E5Y2lDeSfjJfG4ll5XB7Fj5/S" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css"/> -->


<style>
    .button-container {
    display: flex;
    gap: 10px;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn i {
    margin-right: 10px;
    font-size: 20px;
}

.download-guide {
    background-color: navy; /* Orange color */
    color: white;
}

.download-guide:hover {
    background-color: #e56b1f;
}

.sample-papers {
    background-color: white;
    color: navy; /* Blue color */
    border: 2px solid navy;
}

.sample-papers:hover {
    background-color: navy;
    color: white;
}

.icon-download::before {
    content: '\1F4E5'; /* Unicode character for download icon */
}

.icon-sample::before {
    content: '\1F4C3'; /* Unicode character for document icon */
}

</style>
        <!-- End Responsive Navbar Area -->

        <!-- Start Pages Banner Area -->
        <div class="pages-banner-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="pages-title">
                            <h2>College Details</h2>
                            <ul class="list-unstyled ps-0 mb-0">
                                <li class="d-inline-block">
                                    <a class="text-decoration-none" href="{% url 'index' %}">
                                        Home
                                    </a>
                                </li>
                                <li class="d-inline-block">
                                    College Details
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="pages-image">
                            <img src="{% static 'assets/img/pages/pages-2.jpg' %}" alt="pages-image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape-7">
                <img src="{% static 'assets/img/shape/shape-7.png' %}" alt="shape">
            </div>
        </div>
        <!-- End Pages Banner Area -->

        <!-- Start Blog Pages Area -->
        <div class="blog-pages-area pt-100 pb-75">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog-left-sidebar">
                            <div class="single-blog-card">   
                            </div>
                           
                            <div class="leading-management">
                                {% if college.college_name %}
                                <h1>{{college.college_name}}</h1>
                                {% endif %}
                                <div class="image">
                                    <img src="{{college.college_image.url}}" alt="applications-image">
                                </div>
                                {% if college.college_description %}
                                <p style="font-family: arial;">{{college.college_description | safe }}</p>
                                {% endif %}
                            </div>
                            
                            <div class="video-image">
                                <img src="{% static 'assets/img/video-1.jpg' %}" alt="video-image">
                                <div class="video-btn">
                                    <a class="text-decoration-none icon" data-fslightbox="gallery" href="{{college.youtube_videos}}">
                                        <i class="flaticon-play"></i>
                                    </a>
                                </div>
                            </div>
                            <br>

                            {% if college.more_details %}
                            <p>{{college.more_details | safe}}</p>
                            {% endif %}

                            <div class="events-area pb-75">
                                <div class="events-area pb-75">
                                    <div class="container">
                                        <div class="section-title text-center m-auto" data-cues="slideInUp">
                                            <h4>Top Colleges</h4>
                                        </div>
                                        <div class="row justify-content-center" data-cues="slideInUp">
                                            {% for college in colleges %}
                                                <div class="col-lg-4 col-md-6">
                                                    <div class="single-events-card">
                                                        <a class="text-decoration-none d-block image" href="{% url 'college_details' college.college_name %}">
                                                            {% if college.college_image %}
                                                                <img src="{{ college.college_image.url }}" alt="{{ college.college_name }}">
                                                            {% else %}
                                                                <img src="{% static 'assets/img/college-7.jpg' %}" alt="events-image">
                                                            {% endif %}
                                                        </a>
                                                        <div class="content d-flex align-items-top">
                                                            <div class="title">
                                                                <h3 style="text-align: center;">
                                                                    <a class="text-decoration-none" href="{% url 'college_details' college.college_name %}">{{ college.college_name }}</a>
                                                                </h3>   
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>        
                        </div>
                        
                        
                        </div>
                    </div>
                    
                    <div class="modal fade" id="brochureModal" tabindex="-1" aria-labelledby="brochureModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form id="brochureForm" method="post" action="{% url 'download_brochure' %}">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="brochureModalLabel">Download Brochure</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="hidden" name="college_id" id="college_id">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Your name" name="name" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Your email" name="email" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Phone Number" name="phone" required>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-lg-4">
                        <div class="blog-right-sidebar">
                            <div class="button-container">
                                {% if college.college_brochure %}
                                <a href="{{ college.college_brochure.url }}" class="btn download-guide" data-bs-toggle="modal" data-bs-target="#brochureModal" data-college-id="{{ college.id }}">
                                    <i class="icon-download"></i>
                                    Download Brochure
                                </a>
                                {% endif %}
                            </div>
                            <br><br>
                           
                            <div class="single-pages-widget tags style-2">
                                <h3>Popular Courses</h3>
                                <ul class="list-unstyled ps-0 mb-0">
                                    {% for course in courses %}
                                        <li class="d-inline-block">
                                            <a class="text-decoration-none d-inline-block" href="{% url 'course_details' course.id %}">
                                                {{ course.course_name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            
                            <div class="pages-leave-reply" id="contactForm">
                                {% if messages %}
                                <div class="alert alert-success" role="alert">
                                    {% for message in messages %}
                                        {{ message }}
                                    {% endfor %}
                                </div>
                                <script>
                                    setTimeout(function(){
                                        window.location.reload();
                                    }, 5000);
                                </script>
                                {% endif %}
                                <h2>Talk To Our Experts</h2>
                                <br>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="college" value="{{ college.id }}">
                                    <div class="row">
                                        <div class="form-group">
                                            <select class="form-control" name="course">
                                                <option value="" disabled selected>Select A course</option>
                                                {% for course in courses %}
                                                    <option value="{{ course.course_name }}">{{ course.course_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Your name" name="name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Your email" name="email">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Phone Number" name="phone">
                                                {% if form.phone.errors %}
                                                    <div class="text-danger">
                                                        {% for error in form.phone.errors %}
                                                            <p>{{ error }}</p>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Place" name="Place">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control textarea" placeholder="Your comments..." name="message" style="height: 100px;"></textarea>
                                    </div>
                                    <button type="submit">
                                        Submit
                                        <i class="flaticon-right-arrow"></i>
                                    </button>
                                </form>
                                
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <style>
            .pages-leave-reply {
                width: 450px; /* Adjust as needed */
                background-color: white;
                padding: 20px;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
                transition: top 0.3s ease-in-out; /* Smooth transition */
            }

            .pages-leave-reply.fixed {
                position: fixed;
                top: 130px; /* Adjust as needed */
                right: 70px; /* Adjust as needed */
                z-index: 950;
            }
            
        </style>
        
        <style>
            table {
                width: 100%;
                border-collapse: collapse;
            }
            table, th, td {
                border: 1px solid black;
            }
            th, td {
                padding: 8px;
                text-align: left;
            }
            .table-responsive {
                overflow-x: auto;
            }
          
            @media (max-width: 575.98px) {
                .table-responsive {
                    overflow-x: auto;
                }
                .card-body td:nth-child(2) {
                    max-width: 150px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            /* Other media queries here */
          </style>
          <style>
                            
            .card {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 300px;
            padding: 20px;
            margin: 10px; 
            text-align: center;
            transition: background-color 0.3s ease;
        }
        
        .card img {
            border-radius: 50%;
            width: 50px;
            height: 50px;
        }
        .card h3 {
            font-size: 18px;
            margin: 10px 0;
        }
        .card p {
            color: #888;
            font-size: 14px;
            margin: 5px 0;
        }
        .card .details {
            display: flex;
            justify-content: space-between;
            margin: 10px 0;
        }
        .card .details div {
            font-size: 14px;
        }
        .card .details a {
            color: #007bff;
            text-decoration: none;
        }
        .card .details a:hover {
            text-decoration: underline;
        }
        .card .actions {
            margin-top: 20px;
        }
        .card .actions .btn {
            background-color: #28a745;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            display: inline-block;
        }
        .card .actions .btn:hover {
            background-color: #218838;
        }
        .card:hover .details a {
            color: #fff;
        }
        </style>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const form = document.getElementById('contactForm');
                const originalPosition = form.offsetTop;
        
                window.addEventListener('scroll', function() {
                    if (window.scrollY >= originalPosition) {
                        form.classList.add('fixed');
                    } else {
                        form.classList.remove('fixed');
                    }
                });
            });
        </script>
                <script>

                    document.addEventListener("DOMContentLoaded", function() {
                    const slides = document.querySelectorAll('.image-slider .slide');
                    let currentSlide = 0;
        
                    function showSlide(index) {
                        slides.forEach((slide, i) => {
                            slide.classList.toggle('active', i === index);
                        });
                    }
        
                    function nextSlide() {
                        currentSlide = (currentSlide + 1) % slides.length;
                        showSlide(currentSlide);
                    }
        
                    showSlide(currentSlide);
                    setInterval(nextSlide, 5000);
                });
        
                </script>
                
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        const query = "{{ query }}";
                        if (query) {
                            if (document.querySelector('#colleges-section')) {
                                window.location.hash = '#colleges-section';
                            } else if (document.querySelector('#courses-section')) {
                                window.location.hash = '#courses-section';
                            } else if (document.querySelector('#blog-category-section')) {
                                window.location.hash = '#blog-category-section';
                            }
                        }
                    });
                </script>
            
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    var brochureModal = document.getElementById('brochureModal');
                    brochureModal.addEventListener('show.bs.modal', function(event) {
                        var button = event.relatedTarget;
                        var collegeId = button.getAttribute('data-college-id');
                        var modalCollegeIdInput = document.getElementById('college_id');
                        modalCollegeIdInput.value = collegeId;
                    });
                
                    var brochureForm = document.getElementById('brochureForm');
                    brochureForm.addEventListener('submit', function(event) {
                        event.preventDefault();
                        var formData = new FormData(brochureForm);
                
                        fetch(brochureForm.action, {
                            method: 'POST',
                            body: formData,
                            headers: {
                                'X-CSRFToken': formData.get('csrfmiddlewaretoken')
                            }
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                window.location.href = data.brochure_url;
                            } else {
                                alert('There was an error. Please try again.');
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            alert('There was an error. Please try again.');
                        });
                    });
                });
            </script>
        
        {% endblock %}
        
          <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
          <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>