
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pulsing Notification Badge</title>
  <link rel="stylesheet" href="path/to/your/styles.css"> 
  <link rel="stylesheet" href="{% static 'assets/css/notification.css' %}"><!-- Update the path accordingly -->

</head>
<body>
  <!-- <h1>Pulsing Notification Badge</h1> -->
  <div class="notifications">
    <div class="notification notify">
      Marketing
    </div>
    <div class="notification notify">
      Redesign Conf
    </div>
    <div class="notification notify">
      Developers
    </div>
  </div>
</body>
</html>
