
{% extends "base.html" %}
{% load static %}

{% block content %}
        
        <!-- End Responsive Navbar Area -->

        <!-- Start Pages Banner Area -->
        <div class="pages-banner-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="pages-title">
                            <h2>Log In Now</h2>
                            <ul class="list-unstyled ps-0 mb-0">
                                <li class="d-inline-block">
                                    <a class="text-decoration-none" href="{% url 'index' %}">
                                        Home
                                    </a>
                                </li>
                                <li class="d-inline-block">
                                    Log In Now
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="pages-image">
                            <img src="{% static 'assets/img/collage_bsi_colleges.png' %}" alt="pages-image">
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <!-- End Pages Banner Area -->
        
        <!-- Start Register Area -->
        <div class="register-area ptb-100">
            <div class="container">
                <div class="single-register-info">
                    <h3>Log In Now</h3>
                    <form method="POST">
                        {% csrf_token %}
                        {% if messages %}
                            <div class="alert alert-danger" role="alert">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username" name="username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your password" name="password">
                        </div>
                        <button class="default-btn border-0">
                            Log In Now
                            <i class="flaticon-right-arrow"></i>
                        </button>
                    </form>
                  
                </div>
            </div>
        </div>
        <!-- End Register Area -->

        {% endblock %}